/*
**  Copyright 2017 Keith Irwin. All rights reserved.
**  Use of this source code is governed by a BSD-style
**  license that can be found in the LICENSE file.
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #333;
  color: white;
}

a {
  color: #0df;
}
