/*
**  Copyright 2017 Keith Irwin. All rights reserved.
**  Use of this source code is governed by a BSD-style
**  license that can be found in the LICENSE file.
*/

.Icon-green {
  color: mediumSeaGreen !important;
}

.Icon-red {
  color: IndianRed;
}

.Icon-blue {
  color: #369;
}

.Icon-published {
  color: mediumSeaGreen;
}

.Icon-draft {
  color: #888;
}
