/*
**  Copyright 2017 Keith Irwin. All rights reserved.
**  Use of this source code is governed by a BSD-style
**  license that can be found in the LICENSE file.
*/

.MarkdownEditor {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.MarkdownEditor .TopBar {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #9bd;
}

.MarkdownEditor .TopBar .Slugline {
  flex: 10;
  display: flex;
  height: 40px;
  padding-bottom: 5px;
}

.MarkdownEditor .TopBar .Slugline input {
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  border: 0;
  outline: none;
  align-self: flex-end;
}

.MarkdownEditor .TopBar .Status {
  text-align: right;
  color: darkred;
  font-size: 12pt;
  flex: 1;
  align-self: flex-end;
  padding-bottom: 5px;
}

.MarkdownEditor .Viewers {
  flex: 25;
  display: flex;
  margin-top: 10px;
}

.MarkdownEditor .Editor {
  flex: 1;
  border: 1px dotted silver;
  border-radius: 4px;
  display: flex;
  margin-right: 5px;
  padding: 4px;
  background-color: #fbfdfe;
}

.MarkdownEditor .Editor textarea {
  flex: 1;
  margin: 0;
  padding: 20px;
  font-family: menlo, monaco, monospace;
  font-size: 10pt;
  outline: none;
  resize: none;
  border: 0;
  line-height: 1.6;
  color: #369;
  color: #006;
  background-color: #fbfdfe;
}


.MarkdownEditor .Viewers .Html {
  flex: 1;
  margin: 0;
  margin-left: 5px;
  padding: 20px;
  overflow: auto;
  background-color: white;
  font-family: Georgia, serif;
  line-height: 1.5em;
}

.MarkdownEditor .Viewers .Html h1 {
  font-size: 20pt;
  color: #369;
}

.MarkdownEditor .Viewers .Html h2 {
  color: darkred;
}

.MarkdownEditor .Viewers .Html p {
  margin-top: 0;
}

.MarkdownEditor .Viewers .Html pre {
  font-size: 12pt;
  color: #369;
  margin: 20px;
  font: monospace;
}

.MarkdownEditor .Controls {
  border-top: 1px dotted silver;
  flex: 1;
  margin-top: 10px;
  align-items: center;
  display: flex;
}

.MarkdownEditor .Controls .Right {
  flex: 1;
  text-align: right;
}

.MarkdownEditor .Controls .Badges {
  flex: 1;
  text-align: center;
}

.MarkdownEditor .Controls .Badge {
  display: inline-block;
  font-size: 10pt;
  color: #369;
}

.MarkdownEditor .Controls .Left {
  flex: 1;
  text-align: left;
}

.MarkdownEditor .Controls .Left button {
  margin-right: 10px;
}

.MarkdownEditor .Controls .Right button {
  margin-left: 10px;
}
