.StatusBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px solid orange;
  height: 30px;
  background-color: #369;

  display: flex;
  align-items: center;
}

.StatusBar .Copyright {
  flex: 1;
  font-size: 9pt;
  color: white;
  text-align: center;
}
