/*
** Copyright 2017 Keith Irwin. All rights reserved.
** Use of this source code is governed by a BSD-style
** license that can be found in the LICENSE file.
*/

.TitleBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;

  background-color: #369;
  border-bottom: 3px solid orange;

  display: flex;
  align-items: center;
  padding-left: 15px;
}

.TitleBar .Meta {
  display: flex;
  flex-flow: column;
  width: 200px;
  justify-content: center;
}

.TitleBar .Meta .Title {
  flex: 2;
  color: white;
  font-weight: normal;
  font-size: 16pt;
  white-space: nowrap;
  padding-bottom: 2px;
}

.TitleBar .Meta .Name {
  flex: 1;
  font-size: 10pt;
  color: #f2f2f2;
  font-style: italic;
  white-space: nowrap;
}

.TitleBar .Options {
  flex: 4;
  text-align: right;
  white-space: nowrap;
  margin-right: 30px;
}

.TitleBar .Options button {
  margin-left: 5px;
}
