html, body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, HelveticaNeue, LucidaGrande, sans-serif;
}

a {
  color: #369;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: DarkRed;
}

a:active {
  opacity: 0.5;
}

hr {
  border: none;
  border-top: 1px dotted silver;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #888;
}

/*******/

.NavBar {
  color: #444;
  display: flex;
  padding: 5px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #d8d8d8;
}

.NavBar .Links {
  flex: 1;
  text-align: right;
}

.NavBar .Links a {
  font-size: 10pt;
  padding-right: 10px;
  padding-left: 10px;
}

/*******/

.Content {
  width: 650px;
  margin: auto;
  padding-top: 30px;
}

.Content article {
  margin-top: 24pt;
  margin-bottom: 48pt;
  position: relative;
}

.Content .ArticleSeparator {
  text-align: left;
  font-size: 15pt;
  position: absolute;
  top: 0px;
  left: -40px;
  color: #369;
  opacity: 0.5;
}

/*******/

.MetaBar {
  margin-top: 25pt;
  display: flex;
  background-color: #f8f8f8;
  padding: 5px;
  border-top: 1px solid #d8d8d8;
  padding-top: 0;
}

.MetaBar .Permalink {
  flex: 1;
  font-size: 10pt;
  text-align: left;
}

.MetaBar .Author {
  flex: 1;
  font-size: 10pt;
  text-align: right;
  color: black;
}

/*******/

.TableOfContents {
}

.TableOfContents .ArchiveEntry {
  display: flex;
  margin-bottom: 12pt;
  font-size: 12pt;
}

.TableOfContents .ArchiveEntry .Date {
  flex: 1;
  color: #666;
}

.TableOfContents .ArchiveEntry .Post {
  flex: 4;
}

.TableOfContents .ArchiveEntry .Author {
  flex: 1;
  color: #666;
}

/*******/

.Continuation {
  margin-bottom: 4em;
  margin-bottom: 4em;
}

.Continuation p {
  padding: 0;
  margin:0;
  font-size: 10pt;
  text-align: right;
}

/*******/

div.postbody {
}

div.postbody p, div.postbody li {
  line-height: 17pt;
  font-size: 12pt;
  color: #000;
}

div.postbody ul {
  margin-bottom: 1em;
}

div.postbody blockquote {
  border-left: 1px dotted #369;
  padding-left: 1em;
}

div.postbody img {
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid #888;
  border-radius: 2px;
}
