html, body {
  color: white;
  background-color: #111;
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, HelveticaNeue, LucidaGrande, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.active {
  opacity: 0.5;
}

/*******/

.NavBar {
  color: #444;
  border-bottom: 1px solid #444;
  display: flex;
  padding: 5px;
  background-color: black;
}

.NavBar .Links {
  flex: 1;
  text-align: right;
}

.NavBar .Links a {
  color: MediumSeaGreen;
  font-size: 10pt;
  padding-right: 10px;
  padding-left: 10px;
}

.NavBar .Links a:hover {
  color: Lime;
}

/*******/

.Content {
  width: 650px;
  margin: auto;
}

.Content article {
  margin-top: 24pt;
  margin-bottom: 48pt;
}

/*******/

.MetaBar {
  margin-top: 15pt;
  display: flex;
  background-color: black;
  padding: 5px;
  color: MediumSeaGreen;
}

.MetaBar a {
  color: MediumSeaGreen;
}

.MetaBar a:hover {
  color: Lime;
}

.MetaBar .Permalink {
  flex: 1;
  font-size: 10pt;
  text-align: left;
}

.MetaBar .Author {
  flex: 1;
  font-size: 10pt;
  text-align: right;
}

/*******/

div.postbody {
  font-size: 12pt;
  color: #0df;
}

div.postbody h1 {
  color: Lime;
}

div.postbody p {
  line-height: 17pt;
}

div.postbody blockquote {
  border-left: 1px dotted DodgerBlue;
  padding-left: 1em;
}
