/*
 font: -apple-system-body
 font: -apple-system-headline
 font: -apple-system-subheadline
 font: -apple-system-caption1
 font: -apple-system-caption2
 font: -apple-system-footnote
 font: -apple-system-short-body
 font: -apple-system-short-headline
 font: -apple-system-short-subheadline
 font: -apple-system-short-caption1
 font: -apple-system-short-footnote
 font: -apple-system-tall-body
 */

:root {
    color-scheme: light dark;
    font: -apple-system-body;
    --link-color: #369;
    --code-color: firebrick;
}

@media (prefers-color-scheme: dark) {

    :root {
        --link-color: dodgerblue;
        --code-color: red;
    }
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-color);
}

code {
    color: firebrick;
}

pre {
    color: #777;
    margin-left: 5px;
}

p {
    line-height: 1.4;
}

abbr {
    font-variant: all-small-caps;
}
