.StatusBar {
  position: fixed;
  bottom: 0;
  left: 30px;
  right: 30px;
  border-top: 1px solid #ccc;
  height: 20px;
  background-color: white;
}

.StatusBar .Copyright {
  text-align: center;
  font-size: 9pt;
  color: RoyalBlue;
  padding-top: 2px;
}
